
<div class="alert alert-warning" role="alert">
  <% if ((locals.errorMessage) != null) { %> 
    <%= errorMessage %>
    <% } %>    
</div>

<!-- class = col-md-6 to control de size of the element -->