<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/author">
        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
        EJS Is Fun
      </a>
      <!-- href path must match the path in the endpoint/routers -->
      <ul class="nav navbar-nav">
        <li><a href="/author/">Author</a></li>
        <li><a href="/author/new">Add Author</a></li>
        <li><a href="/books/allbooks">Books</a></li>
        <li><a href="/books/new">Add A Book</a></li>
      </ul>
    </div>
  </div>
</nav>
