<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- moved one level up to point partial -->
    <%- include('../partials/head.ejs'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header.ejs') %>
    </header>

    <main>
      <div class="container">
        <%- include('../partials/errorMessage.ejs') %>
        <h3 class="display-5">New Authors</h3>

        <!-- action - path  and post method to send data to server -->
        <!-- path - url to which the request will be sent - url(relative web page) or <end point> that will process the request -->
        <form class="form-group" action="/author/addauthor" method="POST" >
          <div class="col-sm-6">
            <label for="name">Name</label>
            <input class="form-control type="text" name="name" id="name" value="John Smith" /><br /> 
          </div>

          <!-- body.name to get the value input in the form. You can use bodyparser -->
          <div class="col-sm-6">
            <a href="/author" role="button" class="btn btn-success">Cancel</a>
            <input type="submit" role="button" class="btn btn-success" value="Create" />   
          </div>
       
        </form>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
  </body>
</html>
