<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs'); %>
  </head>
  <body class="container">
    <header>
      <%- include('partials/header.ejs') %>
    </header>

    <main>
      <div class="jumbotron">
        <h2>Recently Added</h2>
        <p>Welcome to templating using EJS</p>
      </div>
   
      <% if (books.length > 0) { %>
        <% books.forEach(book => { %>
          <img src="<%=book.coverImagePath %>" height="200" width="100" alt="bookImage">
        <% }) %>
      <% } %>

    </main>
    <footer>
      <%- include('partials/footer.ejs'); %>
    </footer>
  </body>
</html>
